{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <main class="container py-4 text-center">
        <h5>My name is Shobhit. I am currently an undergrad at <a href="https://aktu.ac.in/">AKTU</a> studying Computer Science.</h5>
        <footer class="mb-5 medium text-center text-muted">
            Find me at <a href="https://github.com/s-shobhit">github.com/s-shobhit</a>
            or <a href="https://www.linkedin.com/in/s-shobhit">linkedin.com/in/s-shobhit</a>
        </footer>
    </main>
{% endblock %}
